html{
    font-family: 'Poppins', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url(./Alberto/css/fondo3.svg);
    background-repeat: repeat-y;
    background-size: cover;
}

/* Eliminar el subrayado de los enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}


h1 {
    color: red;
}

h2 {
    color: blue;
}